<%- include("partials/header"); -%>

<h1>Compose</h1>

    <form action="/compose" method = "POST" >
        <div class = "form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="postTitle">
            <label>Post</label><br>
            <textarea name="postBody" id="" cols="30" rows="5"></textarea>
        </div>
        <button class="btn btn-primary" type = "submit" name="button">Publish</button>
    </form>

<%- include("partials/footer"); -%>
